<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee Module</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/particles.css" rel="stylesheet"> <!-- 引入粒子效果的CSS -->
    <style>
        body {
            display: flex;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
        }
        .sidebar {
            width: 200px;
            background-color: #343a40;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        .sidebar a {
            color: white;
            text-decoration: none;
            padding: 10px;
            width: 100%;
            text-align: center;
            transition: background-color 0.3s;
        }
        .sidebar a:hover {
            background-color: #007bff;
        }
        .content {
            flex-grow: 1;
            padding: 20px;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <a href="#" onclick="loadContent('/batchAdjust')">批量加扣</a>
        <a href="#" onclick="loadContent('/refundDataPage')">退费数据</a>
        <!-- 添加回到首页按钮 -->
<!--        <a th:href="@{/index}" style="position: fixed; bottom: 20px; width: 200px; text-align: center;">回到首页</a>-->
        <div th:replace="~{material :: footer}"></div>
    </div>
    <div class="content" id="content">
        <!-- 动态加载的内容将显示在这里 -->
    </div>

    <script>
        function loadContent(page) {
            fetch(page)
                .then(response => response.text())
                .then(data => {
                    const content = document.getElementById('content');
                    content.innerHTML = data;

                    // 在加载完内容后立即执行其中的脚本
                    const scripts = content.getElementsByTagName('script');
                    for (let script of scripts) {
                        const newScript = document.createElement('script');
                        newScript.innerHTML = script.innerHTML;
                        document.body.appendChild(newScript);
                    }
                });
        }

        function submitForm() {
            alert('提交功能尚未实现');
        }
    </script>
    <script src="/js/particles.js"></script> <!-- 引入粒子效果的JavaScript -->
</body>
</html>