.navbar {
            background-color: #2d2d2d;
            padding: 10px 20px;
        }
        .navbar-brand {
            color: #fff;
            font-size: 1.5em;
            margin-right: 20px;
            font-weight: 400;
            font-family: "JetBrains Sans", -apple-system, sans-serif;
        }
        .navbar-brand:hover {
            color: #ffffff;
        }
        .navbar-nav .nav-link {
            font-family: "JetBrains Sans", -apple-system, sans-serif;
            color: #FFFFFFB2;;
            margin-right: 20px;
            font-weight: 300;
        }
        .navbar-nav .nav-link:hover {
            color: #ffffff;
        }
        .btn.btn-download {
            display: block; /* 确保文本占据一整行 */
            font-family: "JetBrains Sans", -apple-system, sans-serif;
            font-weight: 300;
            background: #0d6efd;
            border-radius: 10px; /* 这将使所有四个角都有10像素的圆角 */
        }
        .dropdown-menu {
            background-color: #2d2d2d;
            border: 1px solid #ffffffb2; /* 设置边框样式，宽度为1px，类型为实线，颜色为白色 */
            border-radius: 0; /* 下拉框消除圆角效果 */
            white-space: nowrap; /* 防止文本换行 */
            overflow: hidden; /* 隐藏溢出的内容 */
        }
        .dropdown-menu {
            width: 50px !important;
        }
        .dropdown-item {
            /*font-family: 'Roboto', sans-serif; !* Roboto字体支持不同粗细级别 *!*/
            font-family: "JetBrains Sans", -apple-system, sans-serif;
            font-weight: 300;
            color: #FFFFFFB2;
        }
        .dropdown-item:hover {
            background-color: #3d3e42;
            color: #ffffff;
        }
        .btn-download {
            background-color: #00bbff;
            color: #ffffff;
        }