<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material</title>
</head>
<body>
    <div th:fragment="content">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">App</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">即将推出</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">最新变化</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">资源</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-auto-close="outside" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            扩展
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="http://localhost:8761/">Eureka</a></li>
                            <li><a class="dropdown-item" href="https://gitlab.com/">GitLab</a></li>
                            <li><a class="dropdown-item" href="https://chat.openai.com/">ChatGPT</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/swagger-ui/index.html">API</a></li>
                            <li><a class="dropdown-item" href="http://192.168.101.121/itsm/login.jsp">ITSM</a></li>
                            <li><a class="dropdown-item" href="http://192.164.7.7/wui/theme/ecology7/page/login.jsp">OA系统</a></li>
                        </ul>
                    </li>
                </ul>
                <button class="btn btn-download">下载</button>
            </div>
        </nav>
    </div>

    <a class="footer" th:fragment="footer" th:href="@{/index}" style="position: fixed; bottom: 20px; width: 200px; text-align: center;">回到首页</a> <!-- 回到首页按钮 -->

</body>
</html>